@import url(normalize.css);

body{
    background-color: rgb(233, 221, 233);
    overflow-x: hidden;
}
.container{
    position: relative;
    margin: 0 auto;
    padding: 50px 0;
    clear: both;
}
@media only screen and (min-width: 1200px){
    .container{
        width: 1210px;
    }
}
.mcd-menu{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-radius: 2px;
    width: 250px;
}   
.mcd-menu li{
    position: relative;
}
.mcd-menu li a{
    display: block;
    text-decoration: none;
    padding: 12px 20px;
    color: #777;
    text-align: left;
    height: 36px;
    position: relative;
    border-bottom: 1px solid #eee;
}
mcd-menu_edit{
    display: flex;
}
.mcd-menu-smallobject{
    margin-left: 1rem;
}

strong{
    text-transform: uppercase;
}
.mcd-menu li a small{
    display: block;
    font-size: 10px;
}
.mcd-menu li a i,
.mcd-menu li a strong,
.mcd-menu li a small{
    position: relative;
    transition: all 300ms linear;
}
.mcd-menu li:hover > a i{
    opacity: 1;
    animation: movefromTop 300ms ease-in-out;
}
.mcd-menu li:hover > a strong{
    opacity: 1;
    animation: movefromLeft 300ms ease-in-out;
}
.mcd-menu li:hover > a small{
    opacity: 1;
    animation: movefromRight 300ms ease-in-out;
}
.mcd-menu li:hover a {
    color: #e67e22;
}
.mcd-menu li a.active{
    position: relative;
    color: #e67e22;
    border: 0;
    box-shadow: 0 0 5px #ddd;
    border-left: 4px solid #e67e22;
    border-right: 4px solid #e67e22;
    margin: 0 -4px;
}
.mcd-menu li a.active::before{
    content: '';
    position: absolute;
    top: 42%;
    left: 0;
    border-left: 5px solid #e67e22;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.mcd-menu li a.active::after{
    content: '';
    position: absolute;
    top: 42%;
    right: 0;
    border-right: 5px solid #e67e22;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
@keyframes movefromTop{
    from{
        opacity: 0;
        transform: translateY(200%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes movefromLeft{
    from{
        opacity: 0;
        transform: translateX(200%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes movefromRight{
    from{
        opacity: 0;
        transform: translateX(-200%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.mcd-menu li ul,
.mcd-menu li ul li ul{
    position: absolute;
    height: auto;
    list-style-type: none;
    min-width: 200px;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms linear;
    background-color: #fff;
    z-index: 1000;
    left: 280px;
    top: 0;
    border-left: 4px solid #e67e22;
}
.mcd-menu li ul:before{
    content: '';
    position: absolute;
    top: 25px;
    left: -9px;
    border-right: 5px solid #e67e22;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
}
.mcd-menu li ul li a{
    padding: 10px;
    text-align: left;
    border: 0;
    border-bottom: 1px solid #eee;
    height: auto;
}
.mcd-menu li ul li a i{
    font-size: 16px;
    display: inline-block;
    margin: 0 10px 0 0;
}
.mcd-menu li:hover > ul,
.mcd-menu li ul li:hover > ul{
    display: block;
    opacity: 1;
    visibility: visible;
    left: 250px;
}
.mcd-menu li ul li ul{
    left: 230px;
    top: 0;
    border: 0;
    border-left: 4px solid #e67e22;
}
.mcd-menu li ul li ul::before {
    content: '';
    position: absolute;
    top: 15px;
    left: -9px;
    border-right: 5px solid #e67e22;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
}
.mcd-menu li ul li:hover > ul {
    top: 0;
    left: 200px;
}
.mcd-menu li a.search{
    padding: 10px 10px 15px 10px;
    clear: both;
}
.mcd-menu li a.search i {
    margin : 0;
    display: inline-block;
    font-size: 18px;
}
.mcd-menu li a.search input{
    border: 1px solid #eee;
    padding: 10px;
    background-color: #fff;
    outline: none;
    color: #777;
    width: 170px;
    float: left;
}
.mcd-menu li a.search input:focus{
    border: 1px solid #e67e22;
}
.mcd-menu li a.search button{
    border: 1px solid #e67e22;
    background: #e67e22;
    outline: none;
    color: #fff;
    margin-left: -4px;
    float: left;
    padding: 10px 10px 11px 10px;
}

@media screen and (min-width : 960px) and (max-width: 1199px){
    .container{
        width: 930px;
    }
    .mcd-menu{
        margin-left: 10px;
    }
}
@media screen and (min-width : 768px) and (max-width : 959px){
    .container{
        width: 628px;
    }
    .mcd-menu{
        width: 200px;
    }
    .mcd-menu li a{
        height: 30px;
    }
    .mcd-menu li a i{
        font-size: 22px;
    }
    .mcd-menu li a strong{
        font-size: 12px;
    }
    .mcd-menu li a small{
        font-size: 10px;
    }
    .mcd-menu li a.search input{
        width: 120px;
        font-size: 12px;
    }
    .mcd-menu li a.search button{
        padding: 8px 10px 9px 10px;
    }
    .mcd-menu li > ul {
        min-width: 180px;
    }
    .mcd-menu li:hover > ul {
        min-width: 180px;
        left: 200px;
    }
    .mcd-menu li ul li > ul,
    .mcd-menu li ul li ul li > ul
    {   
        min-width: 150px;
    }

    .mcd-menu li ul li:hover > ul {
        left: 180px;
        min-width: 150px;
    }
    .mcd-menu li ul li ul li:hover > ul {
        left: 150px;
        min-width: 150px;
    }
    .mcd-menu li ul a {
        font-size: 12px;
    }
    .mcd-menu li ul a i {
        font-size: 14px;
    }


}

@media screen and (min-width : 480px) and (max-width: 767px){
    .container{
        width: 428px;
        margin: 0 auto;
    }
    .mcd-menu{
        width: 50px;
    }
    .mcd-menu li a {
        position: relative;
        padding: 20px 16px;
        height: 20px;
    }
    .mcd-menu li a small{
        display: none;
    }
    .mcd-menu li a strong {
        display: none;
    }
    .mcd-menu li a:hover strong,
    .mcd-menu li a.active strong{
        display: block;
        font-size: 10px;
        padding: 3px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #e67e22;
        color: #fff;
        min-width: 100%;
        text-transform: lowercase;
        font-weight: normal;
        text-align: center;
    }
    .mcd-menu li .search{
        display: none;
    }
    .mcd-menu li > ul {
        min-width: 180px;
        left: 90px;
    }
    .mcd-menu li:hover > ul{
        min-width: 180px;
        left: 50px;
    }
    .mcd-menu li ul li ul {
        margin-left: -20px;
    }
    .mcd-menu li ul li ul li > ul{
        margin-left: 0;
        top: 45px;
        border: 0;
        border-top: 4px solid #e67e22;
    }
    .mcd-menu li ul li ul li > ul::before{
        left: 30px;
        top: -9px;
        border: 0;
        border-bottom: 5px solid #e67e22;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
    .mcd-menu li ul li ul li:hover > ul {
        left: 30px;
        min-width: 150px;
        top: 35px;
    }
    .mcd-menu li ul a{
        font-size: 12px;
    }
    .mcd-menu li ul a i{
        font-size: 14px;
    }
}
@media screen and (max-width: 479px){
    .container{
        width: 428px;
        margin: 0 auto;
    }
    .mcd-menu{
        width: 50px;
    }
    .mcd-menu li a {
        position: relative;
        padding: 20px 16px;
        height: 20px;
    }
    .mcd-menu li a small{
        display: none;
    }
    .mcd-menu li a strong {
        display: none;
    }
    .mcd-menu li a:hover strong,
    .mcd-menu li a.active strong{
        display: block;
        font-size: 10px;
        padding: 3px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #e67e22;
        color: #fff;
        min-width: 100%;
        text-transform: lowercase;
        font-weight: normal;
        text-align: center;
    }
    .mcd-menu li .search{
        display: none;
    }
    .mcd-menu li > ul {
        min-width: 180px;
        left: 90px;
    }
    .mcd-menu li:hover > ul{
        min-width: 180px;
        left: 50px;
    }
    .mcd-menu li ul li ul {
        margin-left: -20px;
    }
    .mcd-menu li ul li ul li > ul{
        margin-left: 0;
        top: 45px;
        border: 0;
        border-top: 4px solid #e67e22;
    }
    .mcd-menu li ul li ul li > ul::before{
        left: 30px;
        top: -9px;
        border: 0;
        border-bottom: 5px solid #e67e22;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
    .mcd-menu li ul li ul li:hover > ul {
        left: 30px;
        min-width: 150px;
        top: 35px;
    }
    .mcd-menu li ul a{
        font-size: 12px;
    }
    .mcd-menu li ul a i{
        font-size: 14px;
    }
}